html{width:100%;}
body{position:relative;}
#allwrap {width:100%; margin:0 auto; min-width:320px;}
#allwrap:after {content:""; display:block; clear:both;}
#allBg {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.7; overflow:hidden; z-index:800;}
#wrap {position:relative; width:100%;}
#wrap:after {content:""; display:block; clear:both;}


/* center layer pop */
#popupCMax {position:absolute; left:50%; top:200px; width:820px; margin:0 0 0 -410px; text-align:center; font-size:0; line-height:0; z-index:68;}
#popupCMax #popupLeft_forest {display:inline-block; margin:0 5px; z-index:10;}
#popupCMax #popupRight_forest {display:inline-block; margin:0 5px; z-index:5;}
#popupCMax * {vertical-align:top;}
#popupCMax .popClose {width:270px; height:38px; background:#f6f6f6; text-align:left; padding:0 0 0 20px; box-sizing:border-box; margin:-1px 0 0 0;}
/*#popupCMax .popClose {position:relative; width:100%; height:38px; background:#f6f6f6; text-align:left; padding:0 0 0 20px; box-sizing:border-box;} */
#popupCMax .popClose a {position:relative; font-size:16px; color:#31251c; line-height:36px;}
#popupCMax .popClose a.close_div {padding:0 17px 0 12px; margin:0 0 0 10px;}
/* #popupCMax .popClose a.close_div {padding:0 17px 0 12px; position:absolute; right:0; top:0;} */
#popupCMax .popClose a.close_div:after {content:'|'; position:absolute; left:0; top:5px; font-size:13px; color:#31251c; line-height:1.1;}


@media all and (max-width:840px){
#popupCMax {width:620px; margin:0 0 0 -310px;}
#popupCMax #popupLeft_forest img {width:300px;}
#popupCMax #popupRight_forest img {width:300px;}
#popupCMax .popClose {width:201px; margin:-1px 0 0 1px;}
/*#popupCMax .popClose {margin:-1px 0 0 0px;} */
#popupCMax .popClose a {font-size:14px;}
#popupCMax .popClose a.close_div:after {top:4px; font-size:11px;}
}

@media all and (max-width:640px){
#popupCMax {top:100px; width:300px; margin:0 0 0 -150px;}
#popupCMax #popupLeft_forest {position:absolute; left:0; top:0; z-index:1;}
#popupCMax #popupRight_forest {position:absolute; left:0; top:0; z-index:2;}
#popupCMax .popClose {height:32px;width: 201px;}
/*#popupCMax .popClose {height:32px;} */
#popupCMax .popClose a {font-size:13px; line-height:30px;}
#popupCMax .popClose a.close_div:after {top:3px; font-size:10px;}
}



.popupQ001 {position:fixed; right:40px; top:466px; width:154px; padding:0 20px; background:url('../images/bg/bg_popq.png') left top repeat; box-sizing:border-box; z-index:9999;}
.popupQ002 {width:100%; overflow:hidden;}
.popupQ002 .pqhead {width:100%; padding:0 0 12px 0; border-bottom:1px #898788 solid; overflow:hidden;}
.popupQ002 .pqhead p.ftc__text{
    font-size:13px;
    color:#fff;
    padding:20px 0 5px 0;
    letter-spacing: 0.2px;
    white-space: nowrap;
}
.popupQ002 .pqhead p {font-size:16px; color:#cba58e; line-height:1.2; letter-spacing:1.3px; padding:0px 0 5px 0; color:#f4e2ae; }
.popupQ002 .pqhead span {display:block; font-size:24px; color:#fff; line-height:1.4; letter-spacing:-1.5px;}
.popupQ002 .pqbody {width:100%; padding:10px 0 23px 0; overflow:hidden;}
.popupQ002 .pqbody p {font-size:15px; color:#fff; line-height:1.4; letter-spacing:0px;}
.popupQ002 .pqbody p span {font-size:15px; color:#cba58e;}
.popupQ002 .gobtn {width:100%; text-align:center; background:#775b4d; overflow:hidden;}
.popupQ002 .gobtn a {display:block; font-size:15px; color:#fff; line-height:34px; letter-spacing:-1px;}
.popupQ001 .popup-close {width:100%; text-align:center; padding:12px 0 0 0; overflow:hidden;}
.popupQ001 .popup-close .today {display:block; font-size:14px; color:#cbcbcb; line-height:1.1; letter-spacing:-1px;}
.popupQ001 .popup-close .close {cursor:pointer;}

@media all and (max-width:768px){
    .popupQ001 {top:204px; right:10px; width:126px; padding:0 12px;}
    .popupQ002 .pqhead {padding:0 0 8px 0;}
    .popupQ002 .pqhead p.ftc__text{
        font-size:13px;
        color:#fff;
        padding:20px 0 5px 0;
        letter-spacing: -1px;
        white-space: nowrap;
    }
    .popupQ002 .pqhead p {font-size:13px; padding: 0px 0 5px 0; letter-spacing:1.3px; }
    .popupQ002 .pqhead span {font-size:15px; line-height:1.3; letter-spacing:-1px;}
    .popupQ002 .pqbody {padding:8px 0 16px 0;}
    .popupQ002 .pqbody p {font-size:13px; line-height:1.4; letter-spacing:0px;}
    .popupQ002 .gobtn a {font-size:13px; line-height:28px; letter-spacing:-0.5px;}
    .popupQ001 .popup-close {padding:6px 0 0 0;}
    .popupQ001 .popup-close .today {font-size:12px; letter-spacing:-0.5px; padding:3px 0;}


}





/** header **/
header {position:fixed; left:0; top:0; width:100%; z-index:70; background:#fff; border-bottom:1px solid #e8e8e8;}
header:after {content:""; display:block; clear:both;}
header #hwrap {position:relative; width:1290px; height:120px; margin:0 auto; z-index:72;}
header #hwrap:after {content:""; display:block; clear:both;}
header #logo {position:relative; display:inline-block; padding:47px 0 0 0; z-index:74;}
header #logo:after {content:""; display:block; clear:both;}
header #logo .mImg {display:none;}
header #navi {position:absolute; left:0; top:0; width:100%; z-index:71;}
header #navi:after {content:""; display:block; clear:both;}
header #navi #topMenu {float:right;}
header #navi #topMenu:after {content:""; display:block; clear:both;}
header #navi #topMenu > li {position:relative; float:left;}
header #navi #topMenu > li > a {display:block; padding-left:90px; height:120px;}
header #navi #topMenu > li > a > span {font-size:19px; color:#1d1d1d; font-weight:500; line-height:1.2; padding:70px 0 26px 0; letter-spacing:-0.5px; display:inline-block;}
header #navi #topMenu > li > a:hover span,
header #navi #topMenu > li > a:active span,
header #navi #topMenu > li > a:focus span,
header #navi #topMenu > li > a.hover span {border-bottom:3px #718929 solid; color:#718929;}
header #navi #topMenu > li > a u {position:absolute; left:60px; bottom:0; width:0; height:1px; background:#e94730; margin-left:;}
header #navi #topMenu > li:last-child {position:static;}
header #navi #topMenu li ul {display:none; position:absolute; top:120px; left:90px; padding:39px 0 0 0; width:80%; height:0; overflow:hidden;}
header #navi #topMenu li ul li {width:120%; text-align:left;}
header #navi #topMenu li ul li a {display:block; padding:0 0 23px 0;}
header #navi #topMenu li ul li a span {font-size:15px; color:#1d1d1d; font-weight:400; line-height:1.2;  letter-spacing:-0.05em;}
header #navi #topMenu li ul li a span i {display:block; font-size:15px; color:#1d1d1d; font-weight:400; line-height:1.2; letter-spacing:-0.05em; font-style:normal;}
header #navi #topMenu li ul li a:hover span,
header #navi #topMenu li ul li a:active span,
header #navi #topMenu li ul li a:focus span,
header #navi #topMenu li ul li a.hover span {color:#718929; border-bottom:0; height:auto; font-weight:500;}
header #navi.active #topMenu > li > a > span {color:#1d1d1d;}
header #navi.active #topMenu > li > a:hover span,
header #navi.active #topMenu > li > a:active span,
header #navi.active #topMenu > li > a:focus span,
header #navi.active #topMenu > li > a.hover span {color:#718929;}
header #navi #mutil {display:none;}
header #util {position:absolute; right:0; top:27px; z-index:72;}
header #util ul:after {content:""; display:block; clear:both;}
header #util ul li {float:left;}
header #util ul li a {display:inline-block;font-size:12px;color:#8a8d8f;font-weight:400;line-height:15px;margin-left:13px;}
header #util ul li a:after {display:inline-block;content:"";width:1px;height:11px;background:#d3d3d3; margin-left:13px;vertical-align:middle;}
header #util ul li:last-child {margin-right:0;}
header #util ul li:last-child a:after {display:none;}
#navibg {position:fixed; top:0; width:100%; height:0; background:#fff; overflow:visible !important; z-index:69; box-shadow:1px 1px 2px rgba(0,0,0,0.2);}
#mNavi {display:none;}
#mBg {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.8; z-index:70;}
header.moveSlide {top:-100%;}

header .resomLog {position:absolute; left:-70px; top:160px; display:none;}
header .resomLog .w {display:block;}
header .resomLog .m {display:none;}







/* main */
#mainWrap {padding-top:120px;}
#mainWrap:after {content:"";display:block;clear:both;}
#mainWrap section {max-width:1290px;margin:0 auto;position:relative;}
#mainWrap section:after {content:"";display:block;clear:both;}
#mainWrap section h2 {position:relative;display:inline-block;width:100%;margin:120px 0 35px;font-size:32px;color:#1b1b1c;font-weight:300;line-height:1.2;letter-spacing:0.3em;font-family:'montserrat';text-align:center;}
#mainWrap section h2.left {text-align:left;}
#mainWrap section h2.insta {letter-spacing:0;}
#mainWrap section h2 .more {position:absolute;top:0;right:0;display:inline-block;line-height:27px;vertical-align:baseline;}
#mainWrap section h2 .more a {font-size:13px;color:#5c5c5c;font-weight:600;line-height:15px;letter-spacing:0.12em;font-family:'montserrat';}
#mainWrap section h2 .more .plus {display:inline-block;margin-left:5px;line-height:15px;}
#mainWrap section h2 .more .plus img {vertical-align:top;}

/* slick */
.slick-dots {position:absolute;bottom:55px;left:0;z-index:1;text-align:center;width:100%;}
.slick-dots li button {display:none;}
.slick-dots li {display:inline-block;width:12px;height:12px;border-radius:50%;border:1px solid #fff;margin:0 6px;cursor:pointer;}
.slick-dots li.slick-active {background:#fff;}

/* 레이어팝업 */
#popup0 {position:fixed; right:50px; top:110px; max-width:100%; z-index:990;}
#popup0 .con {width:100%; overflow:hidden;position:relative;}
#popup0 .con a {display:inline-block;}
#popup0 .con img {max-width:100%; box-sizing:border-box;}
#popup0 .popup-close {position:relative; width:100%; text-align:center;box-sizing:border-box; margin-top:-13px;}
#popup0 .popup-close input {vertical-align:middle; margin:-2px 0 0 12px;}
#popup0 .popup-close a {display:inline-block; font-size:14px; color:#fff; font-weight:500; line-height:1.3;}
#popup0 .close {position:absolute; right:23px; top:55px; font-size:15px; font-weight:600; color:#fff; cursor:pointer; z-index:2;}

#popup2 {position:fixed; left:50%; top:250px; max-width:100%; z-index:990;margin:0 0 0 -200px; }
#popup2 .con {width:100%; position:relative; background:#535353;}
#popup2 .con a {display:inline-block;}
#popup2 .con img {max-width:100%; box-sizing:border-box;}
#popup2 .popup-close {position:relative; width:100%; text-align:center;box-sizing:border-box; margin-top:-13px; /* margin-top: 0; */}
#popup2 .popup-close input {vertical-align:middle; margin:-2px 0 0 12px;}
#popup2 .popup-close a {display:inline-block; font-size:14px; color:#fff; font-weight:500; line-height:32px;}
#popup2 .close2 {position:absolute; right:23px; top:55px; font-size:15px; font-weight:600; color:#fff; cursor:pointer; z-index:2;}

@media all and (max-width:1040px){
#popup0 {top:100px;}
#popup2 {top:100px;}
}

@media all and (max-width:767px){
#popup0 { top:70px; right:0; width:280px;}
#popup0 .popup-close {height:36px;}
#popup0 .popup-close a {font-size:12px; line-height:36px;}
#popup0 .close {top:10px;}
#popup2 { top:100px; width:280px; margin:0 0 0 -140px;}
}

/* main roll */
#mainTop {width:100%;overflow:hidden;position:relative;}
#mainTop .mainRoll {width:100%;overflow:hidden;}
#mainTop .mainRoll div {height:820px;position:relative;}
#mainTop .mainRoll img {position:absolute;top:0;left:50%;margin-left:-960px;}
#mainTop .mainRoll img.mImg {display:none;}
#mainTop .mainRoll .txt {opacity:0;height:auto;position:absolute;top:50%;left:0;width:100%;text-align:center;z-index:3;margin-top:-153px;word-break:keep-all;}
#mainTop .mainRoll .txt .t1 {font-size:20px;color:#fff;font-weight:400;display:block;font-family:'montserrat';letter-spacing:3px;}
#mainTop .mainRoll .txt .t2 {opacity:1;padding-top:30px;}
#mainTop .mainRoll .txt .t2 span {display:block;font-size:0;}
#mainTop .mainRoll .txt .t2 span u {text-decoration:none;font-size:24px;color:#fff;line-height:1.5;font-weight:500;display:inline-block;letter-spacing:-1px;padding-right:5px;}
#mainTop .mainRoll .txt .t3 {opacity:1;font-size:48px;color:#fff;font-weight:500;padding-top:15px;line-height:1.3;}
#mainTop .mainRoll .txt .t3 span {display:block; font-size:24px;color:#fff;font-weight:500; padding:20px 0 4px 0;}
#mainTop .mainRoll .txt .t4 {display:block; font-size:15px;color:#fff;font-weight:500; padding:5px 0 4px 0;}
#mainTop .mainRoll .txt a {display:block; width:190px; height:55px; border:1px #fff solid; margin:48px auto 0; text-align:center;}
#mainTop .mainRoll .txt a span {display:inline-block; font-size:17px; color:#fff; font-weight:600; line-height:55px; padding:0 42px 0 0; background:url('../images/bg/bg_main_arrow2.png') right 50% no-repeat;}

/* event */
#eventCon {margin:0 -15px;position:relative;}
#eventCon .eventRoll .con {position:relative;}
#eventCon .eventRoll .con a {display:block;}
#eventCon .eventRoll .con a:focus {outline:none;}
#eventCon .eventRoll .con .box {margin:0 15px;}
#eventCon .eventRoll .con .img {
	position:relative;
	overflow:hidden;
	height:267px;
}

#eventCon .eventRoll.ty2 .con .img {
	height:auto;
}

@media(max-width:1200px){
	#eventCon .eventRoll .con .img {
		height:230px;
	}
	#eventCon .eventRoll.ty2 .con .img {
		height:auto!important;
	}
}

@media(max-width:640px){
	#eventCon .eventRoll .con .img {
		/*height:300px;*/
		height:auto!important;
	}
	#eventCon .eventRoll.ty2 .con .img {
		height:auto!important;
	}
	#eventCon .eventRoll .con .img img{
		position: static!important;
		width:100%!important;
		margin:0px!important;
		height:auto!important;
	}
}

#eventCon .eventRoll .con .img img {
	max-width: auto!important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: auto;
	height:100%;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-50%;
}
#eventCon .eventRoll.ty2 .con .img img{
	position: static;
	margin:0px;
	width:100%;
	height:auto!important;
	max-width:100%;
}

#eventCon .eventRoll .con .img:hover img {
	/*max-width: 100%;*/
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
#eventCon .eventRoll .con .img .cate {position:absolute; left:10px; top:10px; width:70px; height:45px; text-align:center; z-index:10;}
#eventCon .eventRoll .con .img .cate span {font-size:15px; color:#fff; font-weight:600; line-height:45px;}
#eventCon .eventRoll .con .img .cate.t1 {background:#907559;}
#eventCon .eventRoll .con .img .cate.t2 {background:#183029; width:100px;}
#eventCon .eventRoll .con .text {padding-top:38px;}
#eventCon .eventRoll .con .text .tit {font-size:20px;color:#1d1d1d;font-weight:600;line-height:1.2;letter-spacing:-0.05em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; display:block;}
#eventCon .eventRoll .con .text .cont {font-size:15px;color:#5c5c5c;font-weight:400;line-height:1.5;letter-spacing:-0.02em;padding-top:15px;display: -webkit-box; -webkit-line-clamp: 2; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical;}
#eventCon .eventRoll .con .text .date {font-size:11px;color:#8b8075;font-weight:300;line-height:1.2;letter-spacing:0.2em;font-family:'montserrat';padding-top:20px;}
#eventCon .left {position:absolute;top:50%;left:-95px;margin-top:-33px;}
#eventCon .right {position:absolute;top:50%;right:-95px;margin-top:-33px;}
#eventCon .mImg {display:none;}
@media all and (max-width: 640px){
#eventCon .eventRoll .con .img .cate {left:12px; top:12px; width:40px; height:25px;}
#eventCon .eventRoll .con .img .cate span {font-size:12px; line-height:25px; font-weight:500;}
#eventCon .eventRoll .con .img .cate.t2 {width:70px;}
}

/* news */
#nwstWrap .leftWrap {overflow:hidden;margin-right:660px;}
#nwstWrap .leftWrap:after {content:"";display:block;clear:both;}
#nwstWrap .leftWrap ul {width:100%;overflow:hidden;border-top:2px solid #1d1d1d;}
#nwstWrap .leftWrap ul li {position:relative;border-bottom:1px solid #dcdcdc;padding:44px 0;width:100%;overflow:hidden;}
#nwstWrap .leftWrap ul li a {display:block;width:auto;overflow:hidden;}
#nwstWrap .leftWrap ul li .tit {display:block;padding-right:150px;}
#nwstWrap .leftWrap ul li .tit p {display:block;}
#nwstWrap .leftWrap ul li .tit p span {padding-left:27px;display:inline-block;width:auto;position:relative;font-size:17px;color:#1d1d1d;font-weight:600;line-height:1.3;letter-spacing:-0.05em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; }
#nwstWrap .leftWrap ul li .tit p span.long {display:block;}
#nwstWrap .leftWrap ul li.new .tit p span {padding-right:27px;}
#nwstWrap .leftWrap ul li.new .tit p span:after {content:"";display:inline-block;width:19px;height:18px;position:absolute;top:0;right:0;background:url('../images/icon/ico_re_new.png') right center no-repeat;}
#nwstWrap .leftWrap ul li .date {text-align:center;position:absolute;top:0;right:0;width:133px;font-size:14px;color:#8a8d8f;font-weight:600;line-height:110px;letter-spacing:-0.02em;font-family:'montserrat';}

/* story */
#nwstWrap .rightWrap {position:absolute;right:0;top:0;width:550px;}
#nwstWrap .rightWrap:after {content:"";display:block;clear:both;}
#nwstWrap .rightWrap .txt {padding-top:28px;}
#nwstWrap .rightWrap .txt strong {padding-right:80px;font-size:27px;color:#1d1d1d;font-weight:600;line-height:1.2;letter-spacing:-0.05em;text-overflow:ellipsis;white-space:nowrap;overflow:hidden; display:block;}
#nwstWrap .rightWrap .txt p {padding-top:20px;font-size:15px;color:#5c5c5c;font-weight:400;line-height:1.7;letter-spacing:-0.05em;display: -webkit-box; -webkit-line-clamp: 3; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical;}
#nwstWrap .rightWrap .slick-dots {bottom:auto;top:331px;text-align:right;}
#nwstWrap .rightWrap .slick-dots li {border-color:#87938f;background:#fff;}
#nwstWrap .rightWrap .slick-dots li.slick-active {background:#718929;border-color:#718929;}
#nwstWrap .rightWrap .storyRoll {overflow:hidden;}
#nwstWrap .rightWrap .storyRoll img {width:100%;max-height:300px;}



/* membership */
.mspWrap {opacity:0;width:100%;position:relative;background:#183029;overflow:hidden;z-index:10;height:600px;margin-top:120px;}
.mspWrap:after {content:"";display:block;clear:both;}
.mspWrap .center {margin:0 auto;max-width:1290px;}
.mspWrap .leftSet {position:relative;width:50%;height:600px;}
.mspWrap .leftSet .txt {opacity:0;padding-top:50px;z-index:10;word-break:keep-all;}
.mspWrap .leftSet .txt .title {padding-top:113px;font-size:32px;color:#537c70;font-weight:600;line-height:1.2;font-family:'montserrat';letter-spacing:0.3em;}
.mspWrap .leftSet .txt .big {padding-top:52px;font-size:40px;color:#fff;font-weight:600;line-height:1.2;letter-spacing:-0.03em;}
.mspWrap .leftSet .txt .conT {padding-top:23px;font-size:16px;color:#fff;font-weight:300;line-height:2.2;letter-spacing:0;}
.mspWrap .leftSet .more {opacity:0;z-index:10;position:absolute;bottom:0;right:0;display:inline-block;width:270px;height:70px;vertical-align:middle;text-align:center;background:#0b1915;}
.mspWrap .leftSet .more a {display:block;font-size:17px;color:#fff;font-weight:600;vertical-align:middle;line-height:70px;letter-spacing:-0.05em;}
.mspWrap .leftSet .more .plus {display:inline-block;margin-left:20px;}
.mspWrap .leftSet .more .plus img {vertical-align:bottom;}
.mspWrap .rightSet {position:absolute;left:50%;top:0;}
.mspWrap .rightSet img {-webkit-transform:scale(1.5) translateY(0%); -moz-transform:scale(1.5) translateY(0%); -ms-transform:scale(1.5) translateY(0%); -o-transform:scale(1.5) translateY(0%); transform:scale(1.5) translateY(0%);}

/* select */
span.bdSbox {width:100%; height:40px; font-size:12px; color:#767676; background:url('../images/bg/bg_re_familry.png') right 20px center no-repeat; border:1px #666666 solid; box-sizing:border-box;}

.bdSboxInner {
	font-size: 12px;
	color: #fff;
	font-weight: 500;
	white-space: nowrap;
	line-height: 40px;
	padding: 0 40px 0 20px;
}


/* footer */
footer {width:100%;background:#1d1d1d;height:265px;position:relative;margin-top:160px;}
footer #footer {position:relative;max-width:1290px;margin:0 auto;}
footer #footer .ftNavi {padding-top:52px;font-size:0;}
footer #footer .ftNavi a {display:inline-block;font-size:14px;color:#fff;font-weight:300;line-height:1.2;letter-spacing:-0.03em;margin:0 34px 10px 0;}
footer #footer .ftNavi a:last-child {margin-right:0;}
footer #footer .add {padding:32px 248px 0 0;}
footer #footer .add p {padding-bottom:3px;}
footer #footer .add p span {display:inline-block;font-size:14px;color:#767676;font-weight:400;line-height:1.5;letter-spacing:-0.05em;margin-bottom:5px;}
footer #footer .add p.line span {padding-right:8px;}
footer #footer .add p.line span:after {content:"";display:inline-block;width:1px;height:12px;background:#6d6d6d;vertical-align:baseline;margin-left:10px;}
footer #footer .add p.line span:last-child:after {display:none;}
footer #footer .add p span u {display:inline-block;font-size:14px;color:#767676;font-weight:400;line-height:1.2;font-family:'montserrat';margin-right:22px;text-decoration:none;letter-spacing:0.04em;}
footer #footer .copy {font-size:11px;color:#767676;font-weight:100;line-height:1.2;font-family:'montserrat';padding-top:23px;letter-spacing:0.08em;}

footer #footer #familyGroup {
	padding-right: 60px;
	width: 230px;
	position: absolute;
	top: 194px;
	right: 0;
	cursor: pointer;
	box-sizing: border-box;
	z-index: 1;
}
footer #footer #familyGroup button {cursor:pointer;z-index:2;position:absolute;top:0;right:0;display:inline-block;width:50px;height:40px;font-size:13px;color:#666;line-height:40px;text-align:center;background:none;border:1px solid #666;padding:0;}
footer #footer .sns {position:absolute;top:120px;right:0;font-size:0;}
footer #footer .sns a {display:inline-block;margin-left:10px;}
footer .topGo {position:absolute;top:-114px;right:40px;width:74px;height:74px;line-height:74px;vertical-align:middle;text-align:center;background:#183029;}
footer .topGo a {display:block;}
footer .topGo a img {vertical-align:middle;}


.mobile--menu--block{
	display:none;
}



/************** media query 1540px *************/
@media all and (max-width: 1540px){
	/* event */
	#eventCon .left {left:-10px;margin-top:-93px;padding:5px;background:#0b1915;opacity:0.8;}
	#eventCon .right {right:-10px;margin-top:-93px;padding:5px;background:#0b1915;opacity:0.8;}

}

/************** media query 1420px *************/
@media all and (max-width: 1420px){
header .resomLog {left:0;}
}

/************** media query 1360px *************/
@media all and (max-width: 1360px){
	/* event */
	#eventCon .left {left:0;}
	#eventCon .right {right:0;}
}

/************** media query 1340px *************/
@media all and (max-width: 1340px){
	/* header */
	header #hwrap {margin:0 20px;width:auto;}

	/* main */
	#mainWrap section {margin:0 20px;}

	/* nwstWrap */
	#nwstWrap .leftWrap {margin-right:590px;}
	#nwstWrap .leftWrap ul li .tit {padding-right:100px;}
	#nwstWrap .leftWrap ul li .tit p span {padding-left:0;}
	#nwstWrap .leftWrap ul li .date {text-align:right;width:85px;}

	/* mspWrap */
	.mspWrap .leftSet .txt {margin:0 20px;}

	/* footer */
	footer #footer {margin:0 20px;}

}

/************** media query 1300px *************/
@media all and (max-width: 1300px){
	/* header */
	header #navi #topMenu > li > a {padding-left:60px;}
	header #navi #topMenu li ul {left:60px;}
}




/************** media query 1150px *************/
@media all and (max-width: 1150px){

    /* header */
	header {position:fixed;}
	#mNavi {display:block; position:fixed; right:20px; top:32px; z-index:72; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	#mNavi span {display:block; width:40px; height:2px; background:#202020; margin:10px; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	#mNavi:hover {cursor: pointer;}
	#mNavi.active {-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;-webkit-transition-delay: 0.3s;-o-transition-delay: 0.3s;transition-delay: 0.3s;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
	#mNavi.active span {height:2px; border-radius:10px; background:#202020 !important;}
	#mNavi.active .line:nth-child(2){width: 0px;}
	#mNavi.active .line:nth-child(1),#mNavi.active .line:nth-child(3){-webkit-transition-delay: 0.3s;-o-transition-delay: 0.3s;transition-delay: 0.3s;}
	#mNavi.active .line:nth-child(1){-webkit-transform: translateY(13px);-ms-transform: translateY(13px);-o-transform: translateY(13px);transform: translateY(13px);}
	#mNavi.active .line:nth-child(3){-webkit-transform: translateY(-11px) rotate(90deg);-ms-transform: translateY(-11px) rotate(90deg);-o-transform: translateY(-11px) rotate(90deg);transform: translateY(-11px) rotate(90deg);}
	header #hwrap {margin:0 20px;}
	header #util {display:none;}
	header #navi {position:fixed; width:100%; left:auto; right:-100%; padding:100px 0 0 0;background:#fff;}
	header #navi #mutil {display:block; position:absolute; left:50px; top:43px;}
	header #navi #mutil ul li {float:left;}
	header #navi #mutil ul li.mHide {display:none;}
	header #navi #mutil ul li a {font-size:20px;color:#8a8d8f;font-weight:600;line-height:1.2;letter-spacing:-0.03em;margin-right:23px;}
	header #navi #mutil ul li a:after {display:inline-block;content:"";width:1px;height:15px;background:#ccc;vertical-align:baseline;margin-left:25px;}
	header #navi #mutil ul li:last-child a:after {display:none;}
	header #navi #topMenu {margin:0;}
	header #navi #topMenu {width:100%; overflow-y:auto;border-top:1px solid #e8e8e8;}
	header #navi #topMenu > li {float:none;display:block;}
	header #navi #topMenu > li > a {padding:0 50px;height:90px;background:url('../images/bg/bg_re_menu_m.png') right 37px center no-repeat;}
	header #navi #topMenu > li > a > span {font-size:30px; color:#272d32; padding:0; line-height:90px; font-weight:600;}
	header #navi #topMenu > li > a:hover span,
	header #navi #topMenu > li > a:active span,
	header #navi #topMenu > li > a:focus span,
	header #navi #topMenu > li > a.hover span {border-bottom:0; color:#718929; height:60px;}
	header #navi #topMenu li ul {display:none; position:relative; left:0; top:0; margin:20px 50px 10px; padding:0;width:auto;height:auto;z-index:90;overflow:hidden;}
	header #navi #topMenu li ul li {height:auto;display:block;float:none;position:relative;}
	header #navi #topMenu li ul li a {padding:0 0 30px 0;}
	header #navi #topMenu li ul li a span {display:block;font-size:24px;color:#8a8d8f;font-weight:500;}
    header #navi #topMenu li ul li a span i {display:inline; font-size:24px; color:#8a8d8f; font-weight:500; }
	header.moveM {background:#fff; box-shadow:1px 1px 2px rgba(0,0,0,0.2);}
	header.moveM #mNavi span {background:#718929;}
	#navibg {display:none;}


    header #navi #topMenu > li:last-child {position:relative;}
    header .resomLog {position:relative; right:auto; left:0; top:0; display:block; width:auto; text-align:center; margin:20px;}
    header .resomLog img {max-width:100%; width:auto;}
    header .resomLog .w {display:none;}
    header .resomLog .m {display:inline-block;}


	.mobile--menu--block{
		display:block;
	}
	.mobile--menu--hidden{
		display:none;
	}

	/* 2023-50-31 by syw 고객 요청사항 */
	.product--detail--info--table dl dd,
	.product--detail--info--table dl dt{
		padding-left:0px!important;
	}

}


/************** media query 1080px *************/
@media all and (max-width: 1080px){
	/* event */
	#eventCon {margin:0 -5px;}
	#eventCon .eventRoll .con .box {margin:0 5px;}
	#eventCon .eventRoll .con .text .tit {font-size:24px;}
}


/************** media query 1000px *************/
@media all and (max-width: 1000px){

    header .resomLog img {width:220px;}



	/* nwstWrap */
	#nwstWrap .leftWrap {margin-right:460px;}
	#nwstWrap .leftWrap ul li {padding:36px 0;}
	#nwstWrap .leftWrap ul li .tit p span {font-size:15px;}
	#nwstWrap .leftWrap ul li .date {line-height:92px;font-size:12px;}
	#nwstWrap .rightWrap {width:420px;}
	#nwstWrap .rightWrap .slick-dots {top:260px;}
	#nwstWrap .rightWrap .txt {padding-top:25px;}
	#nwstWrap .rightWrap .txt strong {font-size:24px;}

	/* mspWrap */
	.mspWrap .leftSet .txt .title {font-size:26px;padding-top:90px;}
	.mspWrap .leftSet .txt .big {font-size:32px;padding-top:35px;}
	.mspWrap .leftSet .txt .conT {font-size:13px;}
	.mspWrap .leftSet .more {width:220px;height:60px;}
	.mspWrap .leftSet .more a {line-height:60px;}
	.mspWrap .leftSet .more .plus {margin-left:13px;}

	/* footer */
	footer {height:auto;padding-bottom:50px;}
	footer #footer #familyGroup {position:relative;top:0;margin:20px auto 0;}
	footer #footer .add {padding:32px 0 0 0;}
	footer #footer .sns {position:relative;top:0;margin-top:20px;text-align:center;}
	footer #footer .sns a:first-child {margin-left:0;}


}



/************** media query 930px *************/
@media all and (max-width: 930px){



}


/************** media query 840px *************/
@media all and (max-width: 840px){
	/* nwstWrap */
	#nwstWrap .leftWrap {margin-right:0;}
	#nwstWrap .rightWrap {position:relative;width:100%;}
	#nwstWrap .rightWrap .txt p {height:95px;}
	#nwstWrap .rightWrap .slick-dots {top:auto;bottom:125px;}
}




/************** media query 768px *************/
@media all and (max-width: 768px){
	/* header */
	header #hwrap {height:70px; margin:0 16px;}
	header #logo {padding:17px 0 0 0;}
	header #logo .pcImg {display:none;}
	header #logo .mImg {display:block;width:115px;}
	header #navi {width:100%; padding:70px 0 0 0;}
	header #navi #topMenu {padding-top:20px;}
	header #navi #topMenu > li > a {padding:0 30px;height:55px;background-position:right 28px center;background-size:10px;}
	header #navi #topMenu > li > a > span {font-size:20px;line-height:55px;}
	header #navi #topMenu li ul {margin:10px 30px 10px;}
	header #navi #topMenu li ul li a {padding:0 0 17px 10px;}
	header #navi #topMenu li ul li a span {font-size:16px;}
    header #navi #topMenu li ul li a span i {font-size:16px;}
	header #navi #mutil {left:30px; top:27px;}
	header #navi #mutil ul li a {font-size:13px;margin-right:8px;}
	header #navi #mutil ul li a:after {margin-left:8px;height:10px;}
	#mNavi.active .line:nth-child(1) {-webkit-transform: translateY(5px);-ms-transform: translateY(5px);-o-transform: translateY(5px);transform: translateY(5px);}
	#mNavi {top:21px;}
	#mNavi span {width:28px; margin:6px;}

	/* mainRoll */
	#mainTop .mainRoll img.pcImg {display:none;}
	#mainTop .mainRoll img.mImg {display:block;}
	#mainTop .mainRoll div {height:700px;}
	#mainTop .mainRoll img {margin-left:-375px;}
	#mainTop .mainRoll .txt {margin-top:-125px;}
	#mainTop .mainRoll .txt .t1 {font-size:11px;letter-spacing:1px;}
	#mainTop .mainRoll .txt .t2 {padding-top:15px;}
	#mainTop .mainRoll .txt .t2 span u {font-size:14px;letter-spacing:0;display:block;padding-right:0;}
	#mainTop .mainRoll .txt .t3 {font-size:20px;}
    #mainTop .mainRoll .txt .t3 span {font-size:15px; padding:8px 0 4px 0;}
    #mainTop .mainRoll .txt .t4 {font-size:11px;}
    #mainTop .mainRoll .txt a {width:150px; height:40px; margin:24px auto 0;}
    #mainTop .mainRoll .txt a span {font-size:15px; line-height:40px; padding:0 30px 0 0; background-size:12px 12px;}


	/* main */
	#mainWrap {padding-top:70px;}
	#mainWrap section {margin:0 16px;}
	#mainWrap section h2 {margin:60px 0 18px;font-size:23px;letter-spacing:0.1em; text-align: left;}
	#mainWrap section h2 .more {line-height:17px;}
	#mainWrap section h2 .more a {font-size:10px;}
	#mainWrap section h2 .more .plus {line-height:6px;margin-left:1px;}
	#mainWrap section h2 .more .plus img {width:7px;}

	/* event */
	#eventCon .left {margin-top:-70px;}
	#eventCon .left img {width:23px;}
	#eventCon .right {margin-top:-70px;}
	#eventCon .right img {width:23px;}
	#eventCon .pcImg {display:none;}
	#eventCon .mImg {display:block;}
	#eventCon .eventRoll .con .text {padding-top:20px;}
	#eventCon .eventRoll .con .text .tit {font-size:18px;}
	#eventCon .eventRoll .con .text .cont {font-size:13px;padding-top:10px;line-height:1.3;}
	#eventCon .eventRoll .con .text .date {padding-top:10px;}

	/* nwstWrap */
	#nwstWrap .leftWrap ul li {padding:22px 0;font-size:14px;}
	#nwstWrap .leftWrap ul li .date {line-height:64px;}
	#nwstWrap .leftWrap ul li.new .tit {background-size:12px;}
	#nwstWrap .rightWrap .slick-dots {bottom:93px;}
	#nwstWrap .rightWrap .txt {padding-top:20px;}
	#nwstWrap .rightWrap .txt strong {font-size:22px;}
	#nwstWrap .rightWrap .txt p {font-size:13px;height:70px;padding-top:15px;}

	/* mspWrap */
	.mspWrap {height:auto;margin-top:60px;}
	.mspWrap .leftSet {width:100%;height:auto;}
	.mspWrap .leftSet .txt .title {font-size:21px;padding-top:60px;}
	.mspWrap .leftSet .txt .big {font-size:27px;padding-top:25px;}
	.mspWrap .leftSet .txt .conT {padding-top:17px;line-height:2;padding-bottom:70px;}
	.mspWrap .leftSet .more {height:42px;width:180px;}
	.mspWrap .leftSet .more a {font-size:13px;line-height:42px;}
	.mspWrap .leftSet .more .plus img {width:11px;vertical-align:baseline;}
	.mspWrap .rightSet {position:relative;left:0;}
	.mspWrap .rightSet img {width:100%;}

	.slick-dots li {width:10px;height:10px;}

	/* footer */
	footer {margin-top:110px;}
	footer .topGo {width:45px;height:45px;line-height:45px;top:-60px;right:10px;}
	footer .topGo a img {width:20px;}
	footer #footer {margin:0 16px;}
	footer #footer .ftNavi {padding-top:30px;width:100%;overflow:hidden;}
	footer #footer .ftNavi a {font-size:12px;margin:0 20px 10px 0;}
	footer #footer .add {padding-top:15px;}
	footer #footer .add p span {font-size:12px;}
	footer #footer .add p span u {font-size:12px;margin-right:15px;}
	footer #footer .add p.line span:after {height:9px;}
	footer #footer .sns a {margin-left:15px;}
	footer #footer .sns a img {width:26px;}
	footer #footer .copy {text-align:center;font-size:10px;letter-spacing:0;}
	footer #footer #familyGroup {width:190px;padding-right:50px;}
	footer #footer #familyGroup button {width:45px;height:32px;line-height:30px;font-size:12px;}


	/* select */
	span.bdSbox {height:32px;background-size:8px;background-position:right 10px center;}
	.bdSboxInner {line-height:32px;padding:0 25px 0 10px;font-size:11px;}




}


/************** media query 640px *************/
@media all and (max-width: 640px){
	/* event */
	#eventCon {margin:0;}
	#eventCon .eventRoll .con .box {margin:0;}

	/* mainRoll */
	#mainTop .mainRoll {position:relative;}
	#mainTop .mainRoll img {position:relative;left:0;margin-left:0;width:100%;}
	#mainTop .mainRoll div {height:auto;}


}


/************** media query 468px *************/
@media all and (max-width: 468px){
	/* footer */
	footer #footer .ftNavi a {width:50%;float:left;margin-right:0;}
}

@media (max-width: 420px){

	header #navi {width:100%;padding:100px 0 0 0;}
	header #navi #mutil {top:64px; width:100%;}
	header #navi #mutil ul {}
	header #navi #mutil ul li a {display:inline-block; margin-bottom:18px;}
}

/************** media query 468px *************/
@media all and (max-width: 330px){
	/* header */
	header #navi #mutil {left:20px;}
	header #navi #topMenu > li > a {padding:0 20px;}
	header #navi #topMenu li ul {margin:10px 20px 10px;}
}


.image--link{
    width: 219px;
    height: 64px;
    background: rgba(255,255,255,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: block;
    margin-top: 168px;
}
@media all and (max-width: 750px){
    .image--link{
        margin-top: 45px;
    }
}
